---
title: "Customer story: Driving better developer and customer experiences with a single application"
author: Rebecca Dodd
author_gitlab: rebecca
author_twitter: gitlab
categories: company
image_title: '/images/blogimages/gitlab-live-sept-2018.png'
description: "Director of Product Integration Michael Sobota of Charter Communications shares how they're using GitLab to simplify their toolchain, with big results. "
tags: DevOps, user stories, workflow
twitter_image: '/images/tweets/post-screenshot-image.png' # optional
cta_button_text: 'Watch the interview'
cta_button_link: 'https://www.youtube.com/watch?v=HnTPi7y5MVo'
featured: yes
---

During [#GitLabLive](/2018/09/20/gitlab-live-event-recap/), customer Michael Sobota,
Director of Product Integration at [Charter Communications](https://www.spectrum.com/about.html), joined us to share how adopting
GitLab as the [single application](/handbook/product/single-application/) for their entire software development lifecycle has brought their
feedback loop of two weeks down to a matter of minutes. Charter is an American telecom
company providing services to over 26 million customers in 41 states, and is the second-largest
cable operator in the US. They have 94,000 employees worldwide.

You can watch the interview with Michael and check out our key takeaways from it below:

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/HnTPi7y5MVo" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Key takeaways

### A single place for all development, operations, and feedback is critical to a great developer experience

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

 Michael: "It's my job to make sure developers who are providing a digital experience to our
 subscribers have a great developer experience: Helping them realize that vision of quick iterations,
 giving them feedback, shifting left concerns like security and testing, deployments, and getting
 that feedback early in our value stream where it’s cheaper to course correct."

"GitLab has been a cornerstone of our DevOps platform: using it for source control management,
for continuous integration, continuous deployment, a Docker registry, artifacts. We want to give
developers a single place to get feedback, self-service, and do it in a responsible manner that
allows us to provide great value to our subscribers."

### Quick feedback is also essential to staying competitive

Michael: "Consumers and subscribers are looking for different, more digital ways to interact
with companies and to consume content. Shifting left allows us to be competitive in creating
these new, digital ways for consumers to interact with us, whether it’s paying their bill or understanding
how their account is set up, ordering a new service, consuming live streaming video, or video on demand.
Customers want that quick feedback and do to that we need to shift things left."

### Having everything in one place can drastically reduce your feedback loop

Michael: To be able to understand, "Did my code merge in? Did it build the capacity tests? Did it pass
the security standards?" – these things, in a single place, within the merge request, within that
UI, have helped us cut down our feedback loop that was typically around our sprint cycle of
around two weeks, down to minutes."

<%= partial "includes/blog/tweet", locals: { text: 'Gone are the days of managing different build machines.
It’s all in the power of the developers', author: 'gitlab' } %>

"Gone are the days of managing different build machines. It’s all in the power of the developers,
and now from the first line of code on every single branch, we can deploy a mutually exclusive
environment and get feedback in minutes down from that two-week cycle. Now, almost every
single branch of code can have a deployment, and you can have feedback as a developer, as a
product owner, or as a designer, right away."
